*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color:#84b564; 
    font-family: 'Inter';
}

.logo{
    width: 30px;
    height: auto;
    border-radius: 30px ;
    border :solid #A72703;
}


nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 800px;
    background-color: #F0E491;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    align-items: center;
    backdrop-filter: blur(5px);
    position: sticky; 
    top: 0;
    margin-top: 10px;
}

.sections{
    display: flex;*
    flex-direction: row;
}
 li{
    list-style: none;
    padding: 5px 40px;
    color: #A72703;

 }



 .Donate{
    height:35px;
    width: fit-content;
    padding: 8px;
    text-align: center;
    font-weight: 500px;
    background-color: rgb(112,21,21);
    color: white;
    border-radius: 10%;

 }

 #mainPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

 }

 #p1{
    display: flex;
    flex: row;
    justify-content: space-around;
    margin-top: 60px;
    width: 100%;

 }
 #p2 img{
    height: 400Px;
    border-radius: 100px;
    box-shadow: none;
 }

 #mainPage  > #p1 > #text{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
 }
 #text > h1{
    font-weight: bold;
    font-size: 70px;
 }
 #text > p{
    font-weight: 500;
    font-size: 30px;
 }
 #text > button{
    font-weight: 500;
    font-size: 20px;
    width: fit-content;
    padding: 10px;
    background-color: rgb(112,21,21);
    color: white;
    border-radius: 10%;
 }
 
 #image > img{
 border-radius: 360px;
 }

 @media (max-width:530px){
    #p1{ flex-direction: column;
    align-items: center;
    justify-content:center;
    margin-top: 20px;}
    #text{
        align-items: center;
        gap: 10px;
        
    }
    #text > h1{
        font-size: 40px;
    }   
    #text > p{
        font-size: 15px;
    }     
    #text > button{
        font-size: 10px;
        font-weight: 500;
        width: fit-content;
        padding: 5px;
        background-color: rgb(112,21,21);
        color: white;
        border-radius: 10%;
    }  
    #image{
        margin-top: 10px;
    }  
    #p2 > img{
        width: 200px;
        height: auto;
    } 
 }

 

